@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*Variables*/
:root {
  --max-width: 1170px;
}

/*Default styles*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #062489;
  color: #ffff;
}

.container {
  /*margin: 0 6em 0 6em;*/
  max-width: 80vw;
  margin: 0 auto;
  max-width: --var(max-width);
}

.btn {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  background: -webkit-linear-gradient(right, #fe998b, #fa768d, #f78ca0);
  transition: background-color 2.5s linear;
}

.btn:hover {
  background: -webkit-linear-gradient(right, #fe988b9f, #fa768d9f, #f78ca09f);
}

.header {
  font-size: 34px;
  margin: 3em 0 2em 0;
  text-align: center;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  transition: padding 0.6s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.navbar .nav-items {
  display: flex;
}

.navbar .nav-items li {
  list-style: none;
  padding: 1em;
}

.navbar .nav-items li a {
  color: white;
  text-decoration: none;
}

/*Navbar -> brand*/
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Navbar -> hamburger menu*/
.hamburger-menu {
  cursor: pointer;
  font-size: 32px;
}

.brand i {
  font-size: 32px;
  margin-right: 0.25em;
}

.brand a {
  font-size: 26px;
  text-decoration: none;
  color: #fff;
}

.sticky {
  background: #000d47;
  position: fixed;
  width: 100%;
  padding: 10px 0px;
}

.sticky + .content {
  padding-top: 50px;
}

/*Navbar dropdown (medium and small screens)*/
.dropdown {
  display: none;
  position: relative;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  display: flex;
  border: 3px solid #000d47;
  flex-direction: column;
  align-items: center;
  background: #000d47;
  position: absolute;
  border-radius: 0.5em;
  min-width: 160px;
  z-index: 100;
  transition: visibility 0s, opacity 0.6s ease-out;
}

.dropdown-content-visible {
  visibility: visible;
  opacity: 1;
}

.dropdown-content a {
  color: white;
  width: 100%;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  border-radius: 0.5em;
  background-color: #062489;
}

/*Landing*/
.landing {
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.landing .hero-section img {
  width: 100%;
}

.landing .text-section {
  display: flex;
  flex: 10;
  flex-direction: column;
  justify-content: center;
}

.landing .hero-section {
  flex: 9;
}

.landing .text-section .about {
  text-align: center;
  padding: 1em;
}

.landing .text-section .about h1 {
  font-size: 3em;
  line-height: 1.1;
}

.landing .text-section .about h4 {
  font-size: 1.2em;
  margin-top: 1em;
}

.landing .text-section .actions {
  display: flex;
  padding: 0px 1.5em;
  justify-content: space-evenly;
  margin-top: 2em;
}

.landing .text-section .actions .btn:nth-child(2) {
  margin-left: 0.5em;
}

/*Carousel*/
.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  max-width: 1200px;
  margin-top: 2.5em;
}

.carousel-item {
  opacity: 1;
  min-width: 200px;
  transition: opacity 1s linear;
}

/*About*/
.about-section {
  display: flex;
}

.about-section-image img {
  width: 100%;
}

.about-section-image {
  flex: 1;
}

.about-section-text {
  padding: 1.2em;
  flex: 1;
}

.about-section-text h1 {
  font-size: 24px;
  margin-bottom: 1.2em;
}

.about-section-text p {
  font-size: 18px;
  line-height: 1.7;
}

.about-section-text .action {
  margin-top: 2em;
  text-align: center;
}

/*Cards section*/
.card-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 3em;
}

.card-section .card {
  background: #1938a2;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.7em;
  padding: 1em;
  max-width: 270px;
  min-height: 300px;
  transition: background-color 0.4s ease, margin-top 0.4s ease;
}

.card-section .card:hover {
  background: #122e91;
  margin-top: 1em;
}

.card-section .card i {
  font-size: 64px;
}

.card-section .card {
  text-align: justify;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1200px) {
  .card-section {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 1000px) {
  /*Navbar -> hamburger menu*/
  .dropdown {
    display: block;
  }

  .navbar .nav-items {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .landing {
    flex-direction: column;
  }

  .landing .hero-section {
    text-align: center;
    margin-top: 5em;
  }

  .landing .hero-section img {
    width: 80%;
  }

  .about-section {
    flex-direction: column;
  }

  .about-section-text {
    order: 1;
  }

  .about-section-image {
    order: 2;
  }
}

@media only screen and (max-width: 600px) {
  .navbar button {
    display: none;
  }

  .landing .text-section .about h1 {
    font-size: 1.8em;
  }

  .landing .text-section .about h4 {
    font-size: 0.8em;
  }

  @media only screen and (max-width: 400px) {
    .landing .text-section .about h1 {
      font-size: 1.8em;
    }

    .landing .text-section .about h4 {
      font-size: 0.8em;
    }
  }
}
